.header {
  height: 5em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--clr-bg);
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .header {
    height: 4em;
  }
}
