.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr-fg);
}

.footer__visitor {
  margin-top: 1.5em;
}

.footer__visitor img {
  border-radius: 4px;
}

.footer__deploy-date {
  font-size: 0.75rem;
  color: var(--clr-fg-alt);
  margin-top: 0.5em;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
